flow.json
[
    {
        "id": "071f8a4b90537c6d",
        "type": "tab",
        "label": "Point 72 Heartbeat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a3c26a392f5fb33",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 300,
                "wires": [
                    {
                        "id": "d15d7d8bb2a6fbc4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 320,
                "y": 300,
                "wires": [
                    {
                        "id": "d15d7d8bb2a6fbc4",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "b2e4a39354f49bfb",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 260,
                "wires": [
                    {
                        "id": "ed29c4b6d9d19c6c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 320,
                "y": 260,
                "wires": [
                    {
                        "id": "ed29c4b6d9d19c6c",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "7e1726d72b9faa8b",
        "type": "subflow",
        "name": "Subflow 3",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 260,
                "wires": [
                    {
                        "id": "3777cb54e241a511"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 320,
                "y": 260,
                "wires": [
                    {
                        "id": "3777cb54e241a511",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "dc0a930d12b3acbd",
        "type": "telegram bot",
        "botname": "@patofoto_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7b23a208a0e2b68e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#b51a00",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#b51a00",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#b51a00",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ff2702",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#b51a00",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Point 72 Cameras",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 25,
                "gx": 6,
                "gy": 6,
                "cx": 10,
                "cy": 6,
                "px": 20,
                "py": 20
            }
        }
    },
    {
        "id": "e1b2acf529c37dbe",
        "type": "ui_tab",
        "name": "Point 72 Camera Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a60279a49b45287e",
        "type": "ui_group",
        "name": "Pantry Camera",
        "tab": "e1b2acf529c37dbe",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "4d127de44dfa1ea4",
        "type": "ui_group",
        "name": "Trade Floor Camera",
        "tab": "e1b2acf529c37dbe",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "d17fd3106744b6d1",
        "type": "ui_spacer",
        "z": "071f8a4b90537c6d",
        "name": "spacer",
        "group": "4d127de44dfa1ea4",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7519439585950272",
        "type": "ui_spacer",
        "z": "071f8a4b90537c6d",
        "name": "spacer",
        "group": "a60279a49b45287e",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "648bd60a845b1eb0",
        "type": "dropbox-config",
        "name": "Dropbox"
    },
    {
        "id": "68b5dc8607ac2516",
        "type": "ui_group",
        "name": "Test Camera",
        "tab": "e1b2acf529c37dbe",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "239dee7d83b80eb9",
        "type": "ui_spacer",
        "z": "071f8a4b90537c6d",
        "name": "spacer",
        "group": "68b5dc8607ac2516",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "06d91d9f1cd56a34",
        "type": "ui_spacer",
        "z": "071f8a4b90537c6d",
        "name": "spacer",
        "group": "a60279a49b45287e",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "d15d7d8bb2a6fbc4",
        "type": "json",
        "z": "9a3c26a392f5fb33",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 195,
        "y": 300,
        "wires": [
            [
                "c60bcadf5ac7b27f",
                "39b4a5829ce34edc",
                "a93d46b10d1b2153",
                "a7c1a3f325089efb",
                "54a555d4d929ad13",
                "427708f0fbf0fa4e",
                "3959d2152f75d4b5",
                "40a49ba707237883",
                "b53e1ab37122f002",
                "417a51db5b220d33",
                "bb20cf90421d90ae"
            ]
        ]
    },
    {
        "id": "417a51db5b220d33",
        "type": "debug",
        "z": "9a3c26a392f5fb33",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 605,
        "y": 525,
        "wires": []
    },
    {
        "id": "40a49ba707237883",
        "type": "moment",
        "z": "9a3c26a392f5fb33",
        "name": "",
        "topic": "Pantry Time",
        "input": "payload.current_shot_time",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 605,
        "y": 390,
        "wires": [
            [
                "3be9cc655fc84ced"
            ]
        ]
    },
    {
        "id": "b53e1ab37122f002",
        "type": "moment",
        "z": "9a3c26a392f5fb33",
        "name": "",
        "topic": "Pantry Date",
        "input": "payload.current_shot_time",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "ddd, MMM Do, YYYY",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 605,
        "y": 435,
        "wires": [
            [
                "d77308d638a7ed68"
            ]
        ]
    },
    {
        "id": "bb20cf90421d90ae",
        "type": "moment",
        "z": "9a3c26a392f5fb33",
        "name": "",
        "topic": "Time",
        "input": "payload.computer_uptime",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 585,
        "y": 480,
        "wires": [
            [
                "cc11536f93d7b253"
            ]
        ]
    },
    {
        "id": "c60bcadf5ac7b27f",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Camera Name",
        "label": "Camera Name",
        "format": "{{msg.payload.camera_name}}",
        "layout": "row-spread",
        "x": 615,
        "y": 75,
        "wires": [],
        "inputLabels": [
            "camera_name"
        ]
    },
    {
        "id": "39b4a5829ce34edc",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Interval",
        "label": "Interval",
        "format": "{{msg.payload.interval_min}} min",
        "layout": "row-spread",
        "x": 595,
        "y": 120,
        "wires": [],
        "inputLabels": [
            "interval"
        ]
    },
    {
        "id": "a93d46b10d1b2153",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Time Start",
        "label": "Time Start",
        "format": "{{msg.payload.time_start_24}}:00",
        "layout": "row-spread",
        "x": 605,
        "y": 165,
        "wires": [],
        "inputLabels": [
            "time_start"
        ]
    },
    {
        "id": "a7c1a3f325089efb",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Time End",
        "label": "Time End",
        "format": "{{msg.payload.time_end_24}}:00",
        "layout": "row-spread",
        "x": 595,
        "y": 210,
        "wires": [],
        "inputLabels": [
            "time_end"
        ]
    },
    {
        "id": "54a555d4d929ad13",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Total Current Frames",
        "label": "Total Current Frames Shot",
        "format": "{{msg.payload.current_total_frames}}",
        "layout": "row-spread",
        "x": 635,
        "y": 255,
        "wires": [],
        "inputLabels": [
            "current_total_frames"
        ]
    },
    {
        "id": "427708f0fbf0fa4e",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Current Daily Frame",
        "label": "Current Daily Frame",
        "format": "{{msg.payload.current_daily_frame}}",
        "layout": "row-spread",
        "x": 635,
        "y": 300,
        "wires": [],
        "inputLabels": [
            "current_daily_frame"
        ]
    },
    {
        "id": "3959d2152f75d4b5",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "Current Shot Size",
        "label": "Current Shot Size",
        "format": "{{msg.payload.current_shot_size_Gb}} Gb",
        "layout": "row-spread",
        "x": 625,
        "y": 345,
        "wires": [],
        "inputLabels": [
            "current_shot_size_Gb"
        ]
    },
    {
        "id": "3be9cc655fc84ced",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Shot Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 390,
        "wires": [],
        "inputLabels": [
            "current_shot_time"
        ]
    },
    {
        "id": "d77308d638a7ed68",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Shot Date",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 435,
        "wires": [],
        "inputLabels": [
            "current_shot_time"
        ]
    },
    {
        "id": "cc11536f93d7b253",
        "type": "ui_text",
        "z": "9a3c26a392f5fb33",
        "group": "a60279a49b45287e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Computer Up Time",
        "label": "Computer Up Time",
        "format": "{{msg.payload}} hrs",
        "layout": "row-spread",
        "x": 760,
        "y": 480,
        "wires": [],
        "inputLabels": [
            "computer_uptime.uptime"
        ]
    },
    {
        "id": "4e3409ae52b9d3e7",
        "type": "debug",
        "z": "b2e4a39354f49bfb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 605,
        "y": 530,
        "wires": []
    },
    {
        "id": "4c453a06918bb926",
        "type": "moment",
        "z": "b2e4a39354f49bfb",
        "name": "",
        "topic": "Trade Floor Time",
        "input": "payload.current_shot_time",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 625,
        "y": 395,
        "wires": [
            [
                "598d9e5be063516d"
            ]
        ]
    },
    {
        "id": "10d1e8d3a46c5428",
        "type": "moment",
        "z": "b2e4a39354f49bfb",
        "name": "",
        "topic": "Trade Floor Date",
        "input": "payload.current_shot_time",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "ddd, MMM Do, YYYY",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 625,
        "y": 440,
        "wires": [
            [
                "0bbc3d5255f34ecd"
            ]
        ]
    },
    {
        "id": "13a8b9c8c24e2833",
        "type": "moment",
        "z": "b2e4a39354f49bfb",
        "name": "",
        "topic": "Computer Up Time",
        "input": "payload.computer_uptime.uptime",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 625,
        "y": 485,
        "wires": [
            [
                "4e520b86618891b2"
            ]
        ]
    },
    {
        "id": "eee8603e784ae913",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Camera Name",
        "label": "Camera Name",
        "format": "{{msg.payload.camera_name}}",
        "layout": "row-spread",
        "x": 615,
        "y": 80,
        "wires": []
    },
    {
        "id": "0592f63c821d433a",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Interval",
        "label": "Interval",
        "format": "{{msg.payload.interval_min}} min",
        "layout": "row-spread",
        "x": 595,
        "y": 125,
        "wires": []
    },
    {
        "id": "866917a96d7221b1",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Time Start",
        "label": "Time Start",
        "format": "{{msg.payload.time_start_24}}:00",
        "layout": "row-spread",
        "x": 605,
        "y": 170,
        "wires": []
    },
    {
        "id": "48bde8f7888a973e",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Time End",
        "label": "Time End",
        "format": "{{msg.payload.time_end_24}}:00",
        "layout": "row-spread",
        "x": 595,
        "y": 215,
        "wires": []
    },
    {
        "id": "30f039c559e8484e",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Total Current Frames",
        "label": "Total Current Frames Shot",
        "format": "{{msg.payload.current_total_frames}}",
        "layout": "row-spread",
        "x": 635,
        "y": 260,
        "wires": []
    },
    {
        "id": "fd70c3acb6a319ab",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Current Daily Frame",
        "label": "Current Daily Frame",
        "format": "{{msg.payload.current_daily_frame}}",
        "layout": "row-spread",
        "x": 635,
        "y": 305,
        "wires": []
    },
    {
        "id": "bc55a9dd4a8bb341",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "Current Shot Size",
        "label": "Current Shot Size",
        "format": "{{msg.payload.current_shot_size_Gb}} Gb",
        "layout": "row-spread",
        "x": 625,
        "y": 350,
        "wires": []
    },
    {
        "id": "598d9e5be063516d",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Shot Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 825,
        "y": 395,
        "wires": []
    },
    {
        "id": "0bbc3d5255f34ecd",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Shot Date",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 825,
        "y": 440,
        "wires": []
    },
    {
        "id": "4e520b86618891b2",
        "type": "ui_text",
        "z": "b2e4a39354f49bfb",
        "group": "4d127de44dfa1ea4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Computer Up Time",
        "label": "Computer Up Time",
        "format": "{{msg.payload}} hrs",
        "layout": "row-spread",
        "x": 835,
        "y": 485,
        "wires": []
    },
    {
        "id": "ed29c4b6d9d19c6c",
        "type": "json",
        "z": "b2e4a39354f49bfb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 195,
        "y": 260,
        "wires": [
            [
                "eee8603e784ae913",
                "0592f63c821d433a",
                "866917a96d7221b1",
                "48bde8f7888a973e",
                "30f039c559e8484e",
                "fd70c3acb6a319ab",
                "bc55a9dd4a8bb341",
                "4e3409ae52b9d3e7",
                "4c453a06918bb926",
                "10d1e8d3a46c5428",
                "13a8b9c8c24e2833"
            ]
        ]
    },
    {
        "id": "3777cb54e241a511",
        "type": "json",
        "z": "7e1726d72b9faa8b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 195,
        "y": 260,
        "wires": [
            [
                "a12c5cda6a4b1810",
                "fc15674b375a2760",
                "13be44b15296b00f",
                "51b781798c01948e",
                "5276d1386b8fb474",
                "b0317605659c47e7",
                "f9c980c213c5b293",
                "9c05269405342413",
                "0750895236f57990",
                "5ae60ca493919129",
                "900ade67e9492507"
            ]
        ]
    },
    {
        "id": "9c05269405342413",
        "type": "debug",
        "z": "7e1726d72b9faa8b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "0750895236f57990",
        "type": "moment",
        "z": "7e1726d72b9faa8b",
        "name": "",
        "topic": "Trade Floor Time",
        "input": "payload.current_shot_time",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 625,
        "y": 395,
        "wires": [
            [
                "7c74eb68317a8c91"
            ]
        ]
    },
    {
        "id": "5ae60ca493919129",
        "type": "moment",
        "z": "7e1726d72b9faa8b",
        "name": "",
        "topic": "Trade Floor Date",
        "input": "payload.current_shot_time",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "ddd, MMM Do, YYYY",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 625,
        "y": 440,
        "wires": [
            [
                "53b50b07f2cb820e"
            ]
        ]
    },
    {
        "id": "900ade67e9492507",
        "type": "moment",
        "z": "7e1726d72b9faa8b",
        "name": "",
        "topic": "Computer Up Time",
        "input": "payload.computer_uptime.uptime",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 625,
        "y": 485,
        "wires": [
            [
                "3c94cecc3599643c"
            ]
        ]
    },
    {
        "id": "a12c5cda6a4b1810",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Camera Name",
        "label": "Camera Name",
        "format": "{{msg.payload.camera_name}}",
        "layout": "row-spread",
        "x": 615,
        "y": 80,
        "wires": []
    },
    {
        "id": "fc15674b375a2760",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Interval",
        "label": "Interval",
        "format": "{{msg.payload.interval_min}} min",
        "layout": "row-spread",
        "x": 595,
        "y": 125,
        "wires": []
    },
    {
        "id": "13be44b15296b00f",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Time Start",
        "label": "Time Start",
        "format": "{{msg.payload.time_start_24}}:00",
        "layout": "row-spread",
        "x": 605,
        "y": 170,
        "wires": []
    },
    {
        "id": "51b781798c01948e",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Time End",
        "label": "Time End",
        "format": "{{msg.payload.time_end_24}}:00",
        "layout": "row-spread",
        "x": 595,
        "y": 215,
        "wires": []
    },
    {
        "id": "5276d1386b8fb474",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Total Current Frames",
        "label": "Total Current Frames Shot",
        "format": "{{msg.payload.current_total_frames}}",
        "layout": "row-spread",
        "x": 635,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0317605659c47e7",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Current Daily Frame",
        "label": "Current Daily Frame",
        "format": "{{msg.payload.current_daily_frame}}",
        "layout": "row-spread",
        "x": 635,
        "y": 305,
        "wires": []
    },
    {
        "id": "f9c980c213c5b293",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Current Shot Size",
        "label": "Current Shot Size",
        "format": "{{msg.payload.current_shot_size_Gb}} Gb",
        "layout": "row-spread",
        "x": 625,
        "y": 350,
        "wires": []
    },
    {
        "id": "7c74eb68317a8c91",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Shot Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 825,
        "y": 395,
        "wires": []
    },
    {
        "id": "53b50b07f2cb820e",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Shot Date",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 825,
        "y": 440,
        "wires": []
    },
    {
        "id": "3c94cecc3599643c",
        "type": "ui_text",
        "z": "7e1726d72b9faa8b",
        "group": "68b5dc8607ac2516",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Computer Up Time",
        "label": "Computer Up Time",
        "format": "{{msg.payload}} hrs",
        "layout": "row-spread",
        "x": 835,
        "y": 485,
        "wires": []
    },
    {
        "id": "9ccffe72618812d2",
        "type": "udp in",
        "z": "071f8a4b90537c6d",
        "name": "Office Camera B Port 65519",
        "iface": "",
        "port": "65519",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 255,
        "wires": [
            [
                "5bc2185f4c5b58cd",
                "cc059a6215a718da"
            ]
        ]
    },
    {
        "id": "6f63c6e4f8586e97",
        "type": "udp in",
        "z": "071f8a4b90537c6d",
        "name": "Office Camera A Port 65515",
        "iface": "",
        "port": "65515",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 165,
        "wires": [
            [
                "487a16fc60057f15",
                "4545f110b1d8804d"
            ]
        ]
    },
    {
        "id": "5bc2185f4c5b58cd",
        "type": "debug",
        "z": "071f8a4b90537c6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 315,
        "wires": []
    },
    {
        "id": "b8c23bbe5e25458b",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "Office_Build_Camera_Settings/Info_Last Shot_Office_Camera_B_Camera.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "6c85c86c71e00f91"
            ]
        ]
    },
    {
        "id": "da4fb001572b96d7",
        "type": "inject",
        "z": "071f8a4b90537c6d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "b8c23bbe5e25458b"
            ]
        ]
    },
    {
        "id": "128218de104975d2",
        "type": "inject",
        "z": "071f8a4b90537c6d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "1c955c88c2a58966"
            ]
        ]
    },
    {
        "id": "b43aa44b8046add8",
        "type": "debug",
        "z": "071f8a4b90537c6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 255,
        "wires": []
    },
    {
        "id": "43f80bf3b24dca39",
        "type": "debug",
        "z": "071f8a4b90537c6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 715,
        "y": 75,
        "wires": []
    },
    {
        "id": "1c955c88c2a58966",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "Office_Build_Camera_Settings/Info_Last Shot_Office_Camera_A_Camera.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "e27e4b0a19d19739"
            ]
        ]
    },
    {
        "id": "278f1e2d358d64cc",
        "type": "switch",
        "z": "071f8a4b90537c6d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "alive",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 135,
        "wires": [
            [
                "e6a3e0f13d4cb684"
            ],
            [
                "a9a597564d32de4a"
            ]
        ]
    },
    {
        "id": "e6a3e0f13d4cb684",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 105,
        "wires": [
            [
                "c797cd894757b5c2"
            ]
        ]
    },
    {
        "id": "a9a597564d32de4a",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 150,
        "wires": [
            [
                "861da33f12713922",
                "c797cd894757b5c2"
            ]
        ]
    },
    {
        "id": "0d3eadbcaaeedad8",
        "type": "switch",
        "z": "071f8a4b90537c6d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "alive",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 315,
        "wires": [
            [
                "e04e8cc5107b9365"
            ],
            [
                "f1e89ed72535f214"
            ]
        ]
    },
    {
        "id": "e04e8cc5107b9365",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 285,
        "wires": [
            [
                "54567435891e7047"
            ]
        ]
    },
    {
        "id": "f1e89ed72535f214",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 330,
        "wires": [
            [
                "4869966d6f9a8036",
                "54567435891e7047"
            ]
        ]
    },
    {
        "id": "861da33f12713922",
        "type": "function",
        "z": "071f8a4b90537c6d",
        "name": "",
        "func": "msg.payload = {\n    content: 'Trade Floor computer stopped communicating',\n    type:\"message\",\n    chatId: 1951007350,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 180,
        "wires": [
            [
                "09a02fd8eb7ae536"
            ]
        ]
    },
    {
        "id": "4869966d6f9a8036",
        "type": "function",
        "z": "071f8a4b90537c6d",
        "name": "",
        "func": "msg.payload = {\n    content: 'Pantry computer stopped communicating',\n    type:\"message\",\n    chatId: 1951007350,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 360,
        "wires": [
            [
                "09a02fd8eb7ae536"
            ]
        ]
    },
    {
        "id": "d582fb85641f3238",
        "type": "debug",
        "z": "071f8a4b90537c6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 255,
        "wires": []
    },
    {
        "id": "4545f110b1d8804d",
        "type": "debug",
        "z": "071f8a4b90537c6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 195,
        "wires": []
    },
    {
        "id": "09a02fd8eb7ae536",
        "type": "telegram sender",
        "z": "071f8a4b90537c6d",
        "name": "",
        "bot": "dc0a930d12b3acbd",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1355,
        "y": 255,
        "wires": [
            [
                "d582fb85641f3238"
            ]
        ]
    },
    {
        "id": "487a16fc60057f15",
        "type": "timeout",
        "z": "071f8a4b90537c6d",
        "name": "Camera A Out Message",
        "outtopic": "",
        "outsafe": "Camera A Comm is alive",
        "outwarning": "",
        "outunsafe": "Camera A Computer stopped transmitting",
        "warning": "0",
        "timer": "60",
        "repeat": true,
        "again": false,
        "x": 500,
        "y": 135,
        "wires": [
            [
                "278f1e2d358d64cc",
                "43f80bf3b24dca39"
            ]
        ]
    },
    {
        "id": "cc059a6215a718da",
        "type": "timeout",
        "z": "071f8a4b90537c6d",
        "name": "Camera B Out Message",
        "outtopic": "",
        "outsafe": "Camera B Comm is alive",
        "outwarning": "",
        "outunsafe": "Camera B Computer Stopped Transmitting",
        "warning": "0",
        "timer": "60",
        "repeat": true,
        "again": false,
        "x": 500,
        "y": 255,
        "wires": [
            [
                "b43aa44b8046add8",
                "0d3eadbcaaeedad8"
            ]
        ]
    },
    {
        "id": "6c85c86c71e00f91",
        "type": "dropbox",
        "z": "071f8a4b90537c6d",
        "dropbox": "648bd60a845b1eb0",
        "filename": "",
        "name": "Office  Camera B Shot Info",
        "x": 705,
        "y": 1080,
        "wires": [
            [
                "4221176892c82131"
            ]
        ]
    },
    {
        "id": "e27e4b0a19d19739",
        "type": "dropbox",
        "z": "071f8a4b90537c6d",
        "dropbox": "648bd60a845b1eb0",
        "filename": "",
        "name": "Office Camera A Shot Info",
        "x": 700,
        "y": 520,
        "wires": [
            [
                "c0d6456654b9f6d9"
            ]
        ]
    },
    {
        "id": "862d68373312d99f",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "Point72_Camera_Settings/Info_Last Shot_Test_Camera.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1720,
        "wires": [
            [
                "b79020ee65867521"
            ]
        ]
    },
    {
        "id": "8ae010f1969a9451",
        "type": "inject",
        "z": "071f8a4b90537c6d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 1720,
        "wires": [
            [
                "862d68373312d99f"
            ]
        ]
    },
    {
        "id": "b79020ee65867521",
        "type": "dropbox",
        "z": "071f8a4b90537c6d",
        "dropbox": "648bd60a845b1eb0",
        "filename": "",
        "name": "Trade Floor Camera Shot Info",
        "x": 715,
        "y": 1720,
        "wires": [
            [
                "8ea770a1490ddd85"
            ]
        ]
    },
    {
        "id": "1840600fd072f08b",
        "type": "image",
        "z": "071f8a4b90537c6d",
        "name": "",
        "width": "320",
        "data": "payload.last_Shot_Thumb",
        "dataType": "msg",
        "thumbnail": false,
        "active": false,
        "pass": false,
        "outputs": 0,
        "x": 1280,
        "y": 1620,
        "wires": []
    },
    {
        "id": "6f9b5e45cddf303a",
        "type": "image",
        "z": "071f8a4b90537c6d",
        "name": "",
        "width": "640",
        "data": "payload.last_Shot_Thumb",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 1700,
        "y": 520,
        "wires": [
            [
                "b7bf42b660edb8ac"
            ]
        ]
    },
    {
        "id": "1c0d10c342d3f183",
        "type": "jimp-image",
        "z": "071f8a4b90537c6d",
        "name": "",
        "data": "payload.last_Shot_Thumb",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "true",
        "parameter1Type": "bool",
        "parameter2": "true",
        "parameter2Type": "bool",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 1390,
        "y": 1080,
        "wires": [
            [
                "4d3cb1e37969f202",
                "55ba90403eae5867"
            ]
        ]
    },
    {
        "id": "4d3cb1e37969f202",
        "type": "image viewer",
        "z": "071f8a4b90537c6d",
        "name": "",
        "width": "640",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1670,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "b7bf42b660edb8ac",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.last_Shot_Thumb",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1900,
        "y": 520,
        "wires": [
            [
                "66b1af55e358076f",
                "3a1bff0b.55d3c"
            ]
        ]
    },
    {
        "id": "66b1af55e358076f",
        "type": "debug",
        "z": "071f8a4b90537c6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 520,
        "wires": []
    },
    {
        "id": "3a1bff0b.55d3c",
        "type": "ui_template",
        "z": "071f8a4b90537c6d",
        "group": "a60279a49b45287e",
        "name": "",
        "order": 14,
        "width": "0",
        "height": "0",
        "format": "<img style='display:block; width:320px;height:213px;' id='base64image'\n       src='{{msg.payload}}' />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 2100,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "55ba90403eae5867",
        "type": "ui_template",
        "z": "071f8a4b90537c6d",
        "group": "4d127de44dfa1ea4",
        "name": "",
        "order": 13,
        "width": "0",
        "height": "0",
        "format": "<img style='display:block; width:320px;height:213px;' id='base64image'\n       src='{{msg.payload}}' />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1680,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "c98f555b17d0c693",
        "type": "ui_template",
        "z": "071f8a4b90537c6d",
        "d": true,
        "group": "68b5dc8607ac2516",
        "name": "",
        "order": 14,
        "width": "0",
        "height": "0",
        "format": "<img style='display:block; width:320px;height:213px;' id='base64image'\n       src='{{msg.payload}}' />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1440,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "109fe2a2e708feeb",
        "type": "change",
        "z": "071f8a4b90537c6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.last_Shot_Thumb",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1900,
        "wires": [
            [
                "c98f555b17d0c693"
            ]
        ]
    },
    {
        "id": "c797cd894757b5c2",
        "type": "ui_led",
        "z": "071f8a4b90537c6d",
        "group": "4d127de44dfa1ea4",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Connection",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "54567435891e7047",
        "type": "ui_led",
        "z": "071f8a4b90537c6d",
        "group": "a60279a49b45287e",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Connection",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1090,
        "y": 300,
        "wires": []
    },
    {
        "id": "c0d6456654b9f6d9",
        "type": "subflow:9a3c26a392f5fb33",
        "z": "071f8a4b90537c6d",
        "name": "Pantry Camera Data",
        "x": 960,
        "y": 520,
        "wires": [
            [
                "6f9b5e45cddf303a"
            ]
        ]
    },
    {
        "id": "4221176892c82131",
        "type": "subflow:b2e4a39354f49bfb",
        "z": "071f8a4b90537c6d",
        "name": "Trade Floor Camera Data",
        "x": 1010,
        "y": 1080,
        "wires": [
            [
                "1c0d10c342d3f183"
            ]
        ]
    },
    {
        "id": "8ea770a1490ddd85",
        "type": "subflow:7e1726d72b9faa8b",
        "z": "071f8a4b90537c6d",
        "name": "Test Camera Data",
        "x": 990,
        "y": 1720,
        "wires": [
            [
                "1840600fd072f08b",
                "109fe2a2e708feeb"
            ]
        ]
    }
]